<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todo List{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'todo_list' %}">📌 Todo List</a></h1>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        function confirmDelete() {
            return confirm("Вы уверены, что хотите удалить эту задачу?");
        }
        </script>
</body>
</html>