{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Создать пост</h1>
    <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data" class="w-50 border p-4 bg-white rounded">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success w-100">Опубликовать</button>
        </form>
    </div>
    <p class="text-center mt-3"><a href="{% url 'posts_list' %}">Вернуться к постам</a></p>
{% endblock %}
